ol{
	list-style: none;
	padding: 0px;
	font-size: 25px;
}

li{
	width: 150px;
	height: 40px;
	background: #F00;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid #FFF;	
}	

li:hover{
	background: #500;
}

a{
	text-decoration: none;
	color: #FFF;
}

