html{
	font-size: 20px;/*Elemento Pai do P*/
}
body{
	font-size: 2em;/*Elemento Pai Html 2x o tamanho 20px*/
}

div{
	display: inline-block;
	width: 200px;
}

#d1{
	border: 1px solid #F00;
	width: 500px;
	height: 500px;

	/*height: 2em;/* 80px Elemento filho do body*/

}

#d2{
	border: 1px solid #00F;
	width: 100%;
	height: 100%;
	/*height: 2rem;/*40pxEle vai direto ao elemento Raiz ouseja no HTML*/
}