
header,section,nav,footer{
	display: flex;
}

header{
	height: 150px;
}

nav{
	justify-content: flex-end;
	background-color: tomato;
	flex-wrap: wrap;
}

nav a {
	display: flex;
	height: 50px;
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #FFF;
}

section {
	flex-wrap: wrap;
	justify-content: center;

}

section div{
	border: 1px solid #000;
	flex:1;
	margin: 5px;
	min-width: 200px;
	max-width: 200px;
	min-height: 100px;
	max-height: 100px;
}

footer{
	background-color: #888;
	color: #FFF;
	align-items: center;
	justify-content: center;
}