
body{
	margin: 0px;
}

div{
	border:1px solid;
	margin: auto;
}

#d1{
	width: 300px;
	height: 300px;
	margin-bottom: 30px;

}

#d1 p{
	width: 200px;
	margin: auto;

}

#d2{
	width: 200px;
	height: 200px;

}

p{
	border: 1px solid #F00;
	text-align: center;
	margin: 0px;
}